/*////////////// Fonts //////////////*/

@font-face {
	font-family: 'Baskerville';
	src: url(../fonts/Baskerville.ttc) format('truetype');
	font-weight: normal;
}
/*////////// Global Styles //////////*/

body {
	background: #F3EBE9;
	color: #98ada6;
	font-size: 100%;
	font-family: 'Baskerville', serif; 
}

.wrapper {
	width: 960px;
	margin: 0 auto;
	background: #fff;
	padding: 0 45px 20px;
}

/*////////// Images //////////*/

.use-border {
	border: 4px solid #98ada6;
}

div img {
	width: 100%;
}

/*////////// Text //////////*/

p {
	color: black;
}

/*////////// Layout //////////*/

* {
	box-sizing: border-box;
}

.col {
	float: left;
	margin-left: 0.5%;
	width: 24.5%;
}

.first {
	margin-left: 0;
}